__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
.dist-info/


*.key
*.pem
*.token
.langchain.db

.env
.env.*
.venv/
venv/
conda/
*.lock.yml
requirements.lock.txt

.cache/
__pycache__/
.ipynb_checkpoints/
langchain.db

runs/
logs/
*.log
*.out
*.err

# large files to be added later not via git
data/alfworld/
Alfworld/data/alfdata/
Alfworld/data/detectors/
Alfworld/data/json_2.1.1/